body {
	margin: 0;
	background-color: black;
}

.wrapper{
	width: 100%;
	height: 100vh;
}

.map-img{
	display:flex;
	height: 600px;
}

.map{
	height: 600px;
	width: 1200px;
	background-size: 100%;
	background-image: url(../images/pokemon-unite-theia-sky-ruins.jpg);
	background-repeat: no-repeat;
	margin: auto;
}

.charactor-set{
	width:100%;
	height: 180px;
	background-color: rgb(49, 49, 49);
	margin: 0 auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.charactor-set::-webkit-scrollbar{
	display: none;
}

.img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: rgb(49, 49, 49);
}

.img-x{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: rgb(49, 49, 49);
	z-index: 1;
}

@media (max-width:1225px), (max-height: 600px) {
	body {
		margin: 0;
		background-color: black;
	}
	
	.wrapper{
		width: 100%;
		height: 100vh;
	}
	
	.map-img{
		display:flex;
		height: 400px;
		width: 750px;
		margin: auto;
	}
	
	.map{
		background-size: 100%;
		background-image: url(../images/pokemon-unite-theia-sky-ruins.jpg);
		background-repeat: no-repeat;
	}
	
	.charactor-set{
		width:100%;
		height: 110px;
		background-color: rgb(49, 49, 49);
		overflow-x: auto;
		margin: 0 auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	
	.charactor-set::-webkit-scrollbar{
		display: none;
	}
	
	.img{
		height: 28px;
		width: 28px;
		border-radius: 50%;
		background-color: rgb(49, 49, 49);
		z-index: 5;
	}
	
	.img-x{
		height: 28px;
		width: 28px;
		border-radius: 50%;
		background-color: rgb(49, 49, 49);
		z-index: 1;
	}
}


@media (max-width: 775px), (max-height: 400px){
	body {
		margin: 0;
		background-color: black;
	}
	
	.wrapper{
		width: 100%;
		height: 100vh;
	}
	
	.map-img{
		display:flex;
		height: 250px;
		width: 450px;
		margin: auto;
	}
	
	.map{
		background-size: 100%;
		background-image: url(../images/pokemon-unite-theia-sky-ruins.jpg);
		background-repeat: no-repeat;
		margin: auto;
	}
	
	.charactor-set{
		width:100%;
		height: 80px;
		background-color: rgb(49, 49, 49);
		overflow-x: auto;
		margin: 0 auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	
	.charactor-set::-webkit-scrollbar{
		display: none;
	}
	
	.img{
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: rgb(49, 49, 49);
		z-index: 5;
	}
	
	.img-x{
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: rgb(49, 49, 49);
		z-index: 1;
	}
}