@media screen and (max-width: 400px) {

    /* スマートフォン (縦) */
    #wrapper {
        position: relative;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .introduction-box {
        font-size: 10px;
        margin: 0px auto 60px;
        width: 350px;
    }

    .introduction-table {
        width: 350px;
    }

    table {
        font-size: 8px;
        width: 350px;
    }
}


@media screen and (max-height: 400px) {

    /* スマートフォン (縦) */
    #wrapper {
        padding-top: 10px;
    }
}