@media screen and (max-width: 400px) {

    /* スマートフォン (縦) */
    header {
        height: 70px;
    }


    .title {
        font-size: 2em;
    }

    .header-div {
        margin: 0 0 0 auto;
        padding-right: 30px;

    }

    .refresh-btn {
        font-size: 10px;
        width: 150px;
    }
}

@media screen and (max-height: 400px) {
    /* スマートフォン () */
    @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

    header {
        display: none;
        height: 0px;
    }
}